.car {
    padding: 40px;

    @media (max-width: 525px) {
        padding: 0px;
    }
    &__container {
        background-color: #fff;
        border-radius: 6px;
        padding: 0;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    &__description {
        margin-top: 60px;
    }

    &__configuration {
        margin-top: 60px;
    }
    &__vin {
        margin-top: 130px;
        max-width: 540px;
        position: relative;
        bottom: 50px;
        background-color: #f2f2f2;
        border-radius: 6px;
        padding: 20px;
    }

    @media (max-width: 1080px) {
        &__info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.info {
    &__image {
        background-image: url(../images/Brands/volkswagen-tiguan.jpg);
        background-size: cover;
        min-width: 550px;
        height: 333px;
        display: flex;
        justify-content: space-between;

        align-items: center;
        padding: 0 20px;
        color: #fff;
        font-size: 50px;
    }
    @media (max-width: 1080px) {

        &__main {
            margin-top: 30px;
        }
    }
    @media (max-width: 735px) {
        &__image {
            min-width: 450px;
        }
    }
    @media (max-width: 625px) {
        &__image {
            min-width: 350px;
            height:250px;
        }
    }
    @media (max-width: 445px) {
        &__image {
            min-width: 250px;
            height:200px;
        }
    }
    @media (max-width: 335px) {
        &__image {
            min-width: 200px;
            height:150px;
        }
        &__main {
            padding: 0;        

        }
    }


    &__main {
        padding: 16px 60px;
        border: 3px $mainColor solid;
        line-height: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 21px;
    }
}
.image {
    &__arrow-left:hover {
        cursor: pointer;
    }

    &__arrow-right {
        cursor: pointer;
    }
}
.description {
    &__title {
        font-weight: 700;
        font-size: 30px;
    }

    @media (max-width: 1080px) {
        &__title, &__text {
            text-align: center;
        }
    }

    &__text {
        margin-top: 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
}
.configuration {
    &__title {
        font-weight: 700;
        font-size: 30px;
    }

    @media (max-width: 1080px) {
        &__title, &__items {
            text-align: center;
        }
    }

    &__items {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.items {
    &__in {
        margin: 10px 30px;
        font-weight: 400;
        font-size: 18px;
    }
    &__in:first-of-type {
        margin: 10px 0px;
        font-weight: 400;
        font-size: 18px;
    }
}
.vin {
    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 700;
        font-size: 25px;
    }
    @media (max-width: 550px) {
        &__info {
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
    }

    &__descripton {
        margin-top: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
    }
}

.info {
    &__check {
        padding: 0 10px;
    }

    &__number {
    
    }
    @media (max-width: 550px) {
        &__number {
            margin-top: 15px;
        }
    }

}
