

// call-form
@import "_call-form";
// index.html
@import "_header";
@import "_slideshow";
@import "_capabilities";
@import "_statistic";
@import "_car-brands";
@import "_footer";
@import "_about-us";
// cars.html
@import "_main-title";
@import "_brands";
@import "_cars";
// car.html
@import "_CarInfo";
// credits
@import "_credits";
// feedbacks
@import "_feedbacks";
// Переменные 
$fz: 14px;
$darkColor: #333333;
$lightColor: #f2f2f2;
$mainColor: #00F4D7;
$hoverButtonColor: #00ecd0;

// сброс стилей 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
html {
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// Общие стили 

.wrapper{
    overflow: hidden;
    background-color: $lightColor;
    font-family: 'Montserrat', sans-serif;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 20px;
	box-sizing: border-box;
}

.content {
	flex: 1 1 auto;
	padding: 30px 0;
}

.map {
	margin: 0 auto;
}


.hide {
	display: none;
}

.show {
	display: flex;
}

